{#def
  user,
  form,
  close_modal: bool = False
#}
<modal.Modal title="Edit user" close_modal={{ close_modal }}>
  <user.UserModalEdit user={{ user }} form={{ form }}></user.UserModalEdit>
</modal.Modal>
