{#def
  user,
  hx_swap_oob: bool = False
#}
{% set class="py-6 grid grid-cols-3 gap-2 sm:gap-4" %}
<section id="user_detail">
  <DescriptionList>
    <div class="{{ class }}">
      <DescriptionTerm>
        Full Name
      </DescriptionTerm>
      <DescriptionDetails id="full_name">
        {{ user.full_name }}
      </DescriptionDetails>
    </div>
    <div class="{{ class }}">
      <DescriptionTerm>
        Email address
      </DescriptionTerm>
      <DescriptionDetails id="email">
        {{ user.email }}
      </DescriptionDetails>
    </div>
    <div class="{{ class }}">
      <DescriptionTerm>
        Status
      </DescriptionTerm>
      <DescriptionDetails id="status">
        <Badge>{{ user.status | capitalize }}</Badge>
      </DescriptionDetails>
    </div>
    <div class="{{ class }}">
      <DescriptionTerm>
        Role
      </DescriptionTerm>
      <DescriptionDetails id="role">
        <Badge>{{ user.role | capitalize }}</Badge>
      </DescriptionDetails>
    </div>
  </DescriptionList>
  <!-- edit button -->
  <div class="py-2">
    <div class="mt-4 flex justify-end sm:ml-16 sm:mt-0">
      <a
        hx-get="/users/detail/{{ user.id }}/edit"
        hx-target="#user_detail"
        hx-swap="outerHTML"
      >
        <Button>Edit</Button>
      </a>
    </div>
  </div>
</section>

{% if hx_swap_oob %}
  <!-- oob swap to update user name after edit -->
  <CardTitle hx-swap-oob="true" id="user_naame" className="text-2xl">{{ user.full_name }}</CardTitle>
{% endif %}
