{#def
  request,
  current_user,
  page: Page
#}

{% macro get_users_list(page_num, page_size, order_by, ascending) %}
  /users/list?page={{ page_num }}&page_size={{ page_size }}&order_by={{ order_by }}&ascending={{ ascending }}
{% endmacro %}

{% macro user_row(user) %}
  <!-- Display a user in a table row  -->
  {% set row_id="user-row-" + user.id|string %}
  {% set row_link="window.location.href='/users/" + user.id|string + "'" %}
  <TableRow
    :id="{{ row_id }}"
    :click="{{ row_link }}"
  >
    <TableCell>
      {{ user.full_name }}
    </TableCell>
    <TableCell>
      {{ user.email }}
    </TableCell>
    <TableCell>
      {% set status_test_id="status-" + user.email %}
      <Badge data-testid={{ status_test_id }}>
        {{ user.status|capitalize }}
      </Badge>
    </TableCell>
    <TableCell>
      {% set role_test_id="role-" + user.email %}
      <Badge data-testid={{ role_test_id }}>
        {{ user.role|capitalize }}
      </Badge>
    </TableCell>
    <TableCell className="justify-end hidden md:table-cell">
      <DropdownMenu>
        <DropdownMenuTrigger>
          {% set edit_delete_test_id="edit-delete-button-" + user.email %}
          <Button variant="ghost" data-testid={{ edit_delete_test_id }}>
            <Ellipsis class="h-4 w-4" />
          </Button>
        </DropdownMenuTrigger>
        <DropdownMenuContent align="right-0">
          <DropdownMenuItem
            :hx-get="{{ url_for('user_modal_edit', user_id=user.id) }}"
            hx-target="#modal"
            hx-swap="innerHTML"
          >Edit
          </DropdownMenuItem>
          <DropdownMenuItem
            :hx-get="{{ url_for('user_delete_modal_confirm', user_id=user.id) }}"
            className="text-red-500 dark:text-red-800"
            hx-target="#modal"
            hx-swap="innerHTML"
          >Delete
          </DropdownMenuItem>
        </DropdownMenuContent>
      </DropdownMenu>
    </TableCell>
  </TableRow>

{% endmacro %}

<section
  id="user_list"
  hx-get="{{ get_users_list(page.page, page.page_size, page.order_by, page.ascending) }}"
  hx-trigger="refresh from:body"
>
  <div class="rounded-md border border-1 border-zinc-200 dark:border-zinc-700 overflow-scroll md:overflow-visible">
    <!-- Table Layout -->
    <table class="min-w-full">
      <TableHeader>
        <TableRow>
          <TableHead
            :hx-get="{{ get_users_list(page.page, page.page_size, "full_name", not page.ascending) }}"
            hx-target="#user_list"
            hx-swap="outerHTML"
            sortable :sorted={{ True if "full_name" == page.order_by else False }} :ascending={{ page.ascending }}
          >Name
          </TableHead>
          <!-- Email Column with Sorting -->
          <!-- sorted: '{{ "sorted" if "email" == page.order_by }}' ascending: '{{ "ascending" if  page.ascending }}' -->
          <TableHead
            :hx-get="{{ get_users_list(page.page, page.page_size, "email", not page.ascending) }}"
            hx-target="#user_list"
            hx-swap="outerHTML"
            sortable :sorted={{ True if "email" == page.order_by else False }} :ascending={{ page.ascending }}
          >Email
          </TableHead>
          <!-- Status and Role columns (no sorting) -->
          <TableHead>
            Status
          </TableHead>
          <TableHead>
            Role
          </TableHead>
          <TableHead className="hidden md:table-cell">Actions</TableHead>
        </TableRow>
      </TableHeader>
      <!-- Table Body -->
      <TableBody>
        {% for user in page.items %}
          {{ user_row(user) }}
        {% endfor %}
      </TableBody>
    </table>
  </div>
  <Pagination :page="{{ page }}" />
</section>
