{#def
  user,
  form
#}
<section id="user_edit">
  <form
      id="user-edit"
      hx-put="/users/modal/{{ user.id }}"
      hx-target="#modal"
      hx-target-422="#user_edit"
      hx-target-400="#notification"
      hx-swap="outerHTML"
      method="put"
  >
    <user.UserFormContent form={{ form }}/>
    <!-- Save/Cancel Buttons -->
    <div class="mt-6 flex items-center justify-end gap-x-2">
      <button
          form="user-edit"
          type="submit"
          class="inline-flex justify-center rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-slate-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-600 dark:bg-white dark:text-black dark:hover:bg-slate-400 dark:focus-visible:outline-slate-300"
      >
        Save
      </button>
      <button
          @click="modal = false"
          type="button"
          class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 dark:bg-black dark:text-gray-100 dark:ring-gray-600 dark:hover:bg-gray-950"
      >
        Cancel
      </button>
    </div>
  </form>
</section>
