<div class="flex flex-shrink-0 items-center">
  <button
    type="button"
    class="bg-white px-3 py-2 text-sm font-semibold text-black shadow-sm ring-1 ring-inset ring-black hover:bg-gray-50 dark:bg-black dark:text-white dark:ring-white dark:hover:bg-slate-950"
  >
    {{ content }}
  </button>
</div>
