{#def
  title,
  message,
  error: bool,
  hx_swap_oob: bool = False
#}
<Toast
  id="notification"
  show="true"
  duration="4000"
>
  <ToastContent
    id="notification-message"
    type="error"
    :title="{{ title }}"
    :description="{{ message }}"
  />
</Toast>
{#{% if hx_swap_oob %}#}
{#  hx-swap-oob="outerHTML"#}
{#{% endif %}#}
