{# def
    className: str = "h-4 w-4",
    color: str = ""
#}

<svg
  class="{{ className }} {{ color }}"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
  aria-hidden="true"
  {{ attrs.render() }}
>
  <!-- @license lucide-static v0.447.0 - ISC -->

  <line x1="21" x2="3" y1="6" y2="6" />
  <line x1="15" x2="3" y1="12" y2="12" />
  <line x1="17" x2="3" y1="18" y2="18" />
</svg>
