{# def
    className: str = "h-4 w-4",
    color: str = ""
#}

<svg
  class="{{ className }} {{ color }}"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
  aria-hidden="true"
  {{ attrs.render() }}
>
  <!-- @license lucide-static v0.447.0 - ISC -->

  <path d="M12 17V3" />
  <path d="m6 11 6 6 6-6" />
  <path d="M19 21H5" />
</svg>
