{# def
    className: str = "h-4 w-4",
    color: str = ""
#}

<svg
  class="{{ className }} {{ color }}"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
  aria-hidden="true"
  {{ attrs.render() }}
>
  <!-- @license lucide-static v0.447.0 - ISC -->

  <rect width="16" height="10" x="2" y="7" rx="2" ry="2" />
  <line x1="22" x2="22" y1="11" y2="13" />
</svg>
