{# def
    className: str = "h-4 w-4",
    color: str = ""
#}

<svg
  class="{{ className }} {{ color }}"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
  aria-hidden="true"
  {{ attrs.render() }}
>
  <!-- @license lucide-static v0.447.0 - ISC -->

  <path
    d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H19a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6.5a1 1 0 0 1 0-5H20"
  />
  <path d="M9 10h6" />
</svg>
