{# def
    className: str = "h-4 w-4",
    color: str = ""
#}

<svg
  class="{{ className }} {{ color }}"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
  aria-hidden="true"
  {{ attrs.render() }}
>
  <!-- @license lucide-static v0.447.0 - ISC -->

  <ellipse cx="12" cy="5" rx="9" ry="3" />
  <path d="M3 5V19A9 3 0 0 0 21 19V5" />
  <path d="M3 12A9 3 0 0 0 21 12" />
</svg>
