{# def
    className: str = "h-4 w-4",
    color: str = ""
#}

<svg
  class="{{ className }} {{ color }}"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
  aria-hidden="true"
  {{ attrs.render() }}
>
  <!-- @license lucide-static v0.447.0 - ISC -->

  <path d="M13.013 3H2l8 9.46V19l4 2v-8.54l.9-1.055" />
  <path d="m22 3-5 5" />
  <path d="m17 3 5 5" />
</svg>
