{# def
    className: str = "h-4 w-4",
    color: str = ""
#}

<svg
  class="{{ className }} {{ color }}"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
  aria-hidden="true"
  {{ attrs.render() }}
>
  <!-- @license lucide-static v0.447.0 - ISC -->

  <path d="M15 7h2a5 5 0 0 1 0 10h-2m-6 0H7A5 5 0 0 1 7 7h2" />
</svg>
