{% extends "layouts/application.html" %}
{% from "macros.html" import svg_loader %}

{% block content %}
  <div class="pl-2 pr-2">
    <h1 class="pl-2 pt-2 text-lg font-semibold leading-6 text-gray-900">Dashboard</h1>
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
      <!-- Total Users -->
      <div hx-get="/dashboard/users/count" hx-trigger="load" hx-swap="outerHTML">
        {{ svg_loader() }}
      </div>
      <!-- Active Users -->
      <div hx-get="/dashboard/users/active_count" hx-trigger="load" hx-swap="outerHTML">
        {{ svg_loader() }}
      </div>
      <!-- Admin Users -->
      <div hx-get="/dashboard/users/admin_count" hx-trigger="load" hx-swap="outerHTML">
        {{ svg_loader() }}
      </div>
    </dl>
  </div>
{% endblock %}
