{% extends "layouts/auth.html" %} {% block title %}Forgot your password?{% endblock %}
{%
  block
  content
%}
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      {% include "partials/logo.html" %}
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
        Forgot your password?
      </h2>
      <p class="mt-10 text-center text-lg text-gray-500">
        A password recovery email will be sent to the registered account.
      </p>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      {% block forgot_password_form %}
        <!-- FORGOT PASSWORD FORM -->
        <form class="space-y-6" hx-post="/forgot-password" hx-swap="outerHTML" method="post">
          <!-- CSRF Token -->
          {{ form.csrf_token() }}
          {% if error %}
            <div
              class="mb-4 rounded-lg bg-red-50 p-4 text-sm text-red-800"
              id="errors"
              role="alert"
            >
              {{ error }}
            </div>
          {% endif %}
          {% if success %}
            <div
              class="mb-4 rounded-lg bg-green-50 p-4 text-sm text-green-800"
              id="success"
              role="alert"
            >
              {{ success }}
            </div>
          {% endif %}
          <!-- email -->
          <div>
            <label for="email" class="block text-sm font-medium leading-6 text-gray-900">
              Email address
            </label>
            <div class="mt-2">
              <input
                id="email"
                name="email"
                type="email"
                autocomplete="email"
                placeholder="your@email.com"
                value="{{ form.email.data|default('', true) }}"
                required
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div>
            <button
              type="submit"
              class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >
              Continue
            </button>
          </div>
        </form>
        <!-- /FORGOT PASSWORD FORM -->
      {% endblock forgot_password_form %}

      <p class="mt-10 text-center text-sm text-gray-500">
        Already have an account?
        <a href="/login" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">
          Login
        </a>
      </p>
    </div>
  </div>
{% endblock content %}
