{% extends "layouts/auth.html" %}

{% block title %}Forgot your password?{% endblock %}

{% block heading_text %}
  Forgot your password?
{% endblock heading_text %}


{% block content %}
  <div>
    <p class="text-center text-sm text-gray-500 dark:text-gray-400">
      A password recovery email will be sent to the registered account.
    </p>
  </div>
  <!-- FORGOT PASSWORD FORM -->
  <form class="space-y-6" hx-post="/forgot-password" hx-swap="outerHTML" method="post">
    <!-- CSRF Token -->{{ form.csrf_token() }}
    {% if error %}
      <div
        class="mb-4 rounded-lg bg-red-50 p-4 text-sm text-red-800"
        id="errors"
        role="alert"
      >
        {{ error }}
      </div>
    {% endif %}
    <!-- email -->
    <div>
      <label for="email"
        class="block text-sm font-medium leading-6 text-gray-900 dark:text-gray-100"> Email address </label>
      <div class="mt-2">
        <input
          id="email"
          name="email"
          type="email"
          autocomplete="email"
          placeholder="your@email.com"
          value="{{ form.email.data|default('', true) }}"
          required
          class="bg-white dark:bg-black text-gray-900 dark:text-gray-100  block w-full rounded-md border-0 py-1.5 darK:text-gray-100 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-gray-600 placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-2 focus:ring-inset focus:ring-slate-600 dark:focus:ring-slate-300 sm:text-sm sm:leading-6"
        />
      </div>
    </div>
    <div>
      <button
        type="submit"
        class="bg-black dark:bg-white flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white dark:text-black shadow-sm hover:bg-slate-500 dark:hover:bg-slate-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-600 dark:focus-visible:outline-slate-300"
      >
        Continue
      </button>
    </div>
  </form>
  <!-- /FORGOT PASSWORD FORM -->

  <p class="mt-10 text-center text-sm text-gray-500 dark:text-gray-400">
    Already have an account? <a href="/login"
    class="font-semibold leading-6 text-slate-600 dark:text-slate-300 hover:text-slate-500 dark:hover:text-slate-500"> Login </a>
  </p>
{% endblock content %}
