{% extends "layouts/auth.html" %}
{% set title = "Login" %}

{% block heading_text %}Log in{% endblock heading_text %}

{% block content %}
  <section id="login_page">
    {% include "partials/auth/login_form.html" %}
    <p class="mt-10 text-center text-sm text-gray-500 dark:text-gray-400">
      Don't have an account? <a
      href="/register"
      class="font-semibold leading-6 text-slate-600 hover:text-slate-500 dark:text-slate-300 dark:hover:text-slate-400"
    > Register </a>
    </p>
  </section>
{% endblock content %}
