{% extends "layouts/auth.html" %}
{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            {% include "partials/logo.html" %}
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Reset your password</h2>
        </div>
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            {% block password_reset_form %}

                {% if error %}
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" id="errors" role="alert">
                        {{ error }}
                    </div>
                {% elif success %}
                    <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50" id="success" role="alert">
                        {{ success }}
                    </div>
                    <p class="mt-10 text-center text-sm text-gray-500">
                        You can now <a href="/login"
                            class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Log in</a>
                    </p>
                {% else %}

                    <!-- PASSWORD RESET FORM -->
                    <form class="space-y-6" hx-post="/reset-password" hx-swap="outerHTML" method="post">
                        <!-- CSRF Token -->{{ form.csrf_token() }}
                        <!-- token -->
                        <input id="token"
                                name="token"
                                type="hidden"
                                value="{{ form.token.data }}">
                        <!-- password -->
                        <div>
                            <label for="new_password"
                                    class="block text-sm font-medium leading-6 text-gray-900">New Password</label>
                            <div class="mt-2">
                                <input id="new_password"
                                        name="new_password"
                                        type="password"
                                        placeholder="••••••••"
                                        required
                                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                {% if form.new_password.errors %}
                                    <p class="mt-2 text-sm text-red-600">{{ form.new_password.errors[0] }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <button type="submit"
                                    class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Reset
                            </button>
                        </div>
                    </form>

                    <p class="mt-10 text-center text-sm text-gray-500">
                        <a href="/forgot-password"
                                class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
                    </p>
                {% endif %}
                <!-- /PASSWORD RESET FORM -->
            {% endblock password_reset_form %}
        </div>
    </div>
{% endblock content %}
