{% extends "layouts/page.html" %}

{% block page_content %}
  <section id="user_page">
    <!--  page content card -->
    <div class="rounded-lg border-b border-gray-200 bg-white py-5">
      <!-- breadcrumb -->
      <div class="px-6">
        <nav class="flex" aria-label="Breadcrumb">
          <ol role="list" class="flex items-center space-x-4">
            <li>
              <a href="/users">
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15.75 19.5 8.25 12l7.5-7.5"
                    />
                  </svg>
                  <p class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Users</p>
                </div>
              </a>
            </li>
          </ol>
        </nav>
      </div>
      <!-- header -->
      <div class="px-4 lg:py-6 sm:flex sm:items-center sm:px-6 sm:py-2">
        <div class="sm:flex-auto">
          <h1 class="text-base font-semibold leading-6 text-gray-900">{{ user.full_name }}</h1>
        </div>
      </div>
      <!-- detail -->
      <div class="mt-8 border-t border-gray-100">
        {% include "partials/user/user_detail_view.html" %}
      </div>
    </div>
  </section>

{% endblock page_content %}
