{% extends "layouts/page.html" %}

{% block page_content %}
  <section id="user_page">
    <!--  page content card -->
    <div class="rounded-lg border-b border-gray-200 bg-white py-5">
      <!-- breadcrumb -->
      <div class="px-6">
        <nav class="flex" aria-label="Breadcrumb">
          <ol role="list" class="flex items-center space-x-4">
            <li>
              <a href="/users">
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15.75 19.5 8.25 12l7.5-7.5"
                    />
                  </svg>
                  <p class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Users</p>
                </div>
              </a>
            </li>
          </ol>
        </nav>
      </div>
      <!-- header -->
      <div class="px-4 lg:py-6 sm:flex sm:items-center sm:px-6 sm:py-2">
        <div class="sm:flex-auto">
          <h1 class="text-base font-semibold leading-6 text-gray-900">{{ user.full_name }}</h1>
        </div>
        <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
          <a hx-get="/users/{{ user.id }}/edit" hx-target="#page_content" hx-swap="outerHTML">
            <button
              type="button"
              class="block rounded-md bg-black px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-slate-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-600"
            >
              Edit user
            </button>
          </a>
        </div>
      </div>
      <!-- detail -->
      <div class="mt-8 border-t border-gray-100">
        <dl class="divide-y divide-gray-100">
          <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-900">Full name</dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
              {{ user.full_name }}
            </dd>
          </div>
          <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-900">Email address</dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
              {{ user.email }}
            </dd>
          </div>
          <div class="px-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-6">
            <div aria-hidden="true"
              class="text-sm font-semibold leading-6 text-gray-900 sm:grid sm:grid-cols-3 sm:gap-4">Status
            </div>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
              <div class="max-w-lg space-y-6">
                <div class="relative flex gap-x-3">
                  <div class="flex h-6 items-center">
                    <input
                      class="h-4 w-4 rounded border-gray-300 text-slate-600 focus:ring-slate-600"
                      id="is_active"
                      name="is_active"
                      type="checkbox"
                      {% if user.is_active %}
                        checked
                      {% endif %}
                      disabled
                    />
                  </div>
                  <div class="text-sm leading-6">
                    <label class="font-medium text-gray-900" for="comments">Active</label>
                    <p class="mt-1 text-gray-600">The user is active</p>
                  </div>
                </div>
                <div class="relative flex gap-x-3">
                  <div class="flex h-6 items-center">
                    <input
                      class="h-4 w-4 rounded border-gray-300 text-slate-600 focus:ring-slate-600"
                      id="is_superuser"
                      name="is_superuser"
                      type="checkbox"
                      {% if user.is_superuser %}
                        checked
                      {% endif %}
                      disabled
                    />
                  </div>
                  <div class="text-sm leading-6">
                    <label class="font-medium text-gray-900" for="candidates">Admin</label>
                    <p class="mt-1 text-gray-600">The user has admin privileges</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </dl>
      </div>
    </div>
    </div>
  </section>
{% endblock page_content %}
