{% extends "layouts/page.html" %}

{% block page_content %}
  <section id="user_list">
    <!--  page content card -->
    <div class="rounded-lg border-b border-gray-200 bg-white py-5">
      <!--  header-->
      <div>
        <div class="px-4 py-3 sm:flex sm:items-center sm:px-6">
          <div class="sm:flex-auto"><h1 class="text-base font-semibold leading-6 text-gray-900">Users</h1></div>
          <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
            <a href="/users/create">
              <button class="block rounded-md bg-black px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-slate-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-600"
                type="button">Create user
              </button>
            </a>
          </div>
        </div>
        <!-- list -->
        <div class="mt-8 flow-root px-4 py-3 sm:px-6">
          <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
              <table class="min-w-full divide-y divide-gray-300">
                <thead>
                <tr>
                  <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0"
                    scope="col">Name
                  </th>
                  <th class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900" scope="col">Email</th>
                  <th class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900" scope="col">Active</th>
                  <th class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900" scope="col">Admin</th>
                  <th class="px-3 py-3.5 text-right text-sm font-semibold text-gray-400" scope="col">Edit</th>
                </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                {% for user in page.items %}
                  {% include "partials/user/user_list_row_view.html" %}
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- footer -->
        <div class="px-4 py-3 sm:px-6">
          {% with page=page %}
            {% include "partials/pagination.html" %}
          {% endwith %}
        </div>
      </div>
      <!-- /users list -->
    </div>
  </section>
{% endblock page_content %}
