<!doctype html>
<html class="h-full bg-gray-50" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>A title</title>
  <!-- Include the Alpine.js library -->
  <script defer src="https://unpkg.com/alpinejs"></script>
  <!-- Include the TailwindCSS library -->
  <link href="/static/dist/css/output.css" rel="stylesheet" />
  <!-- Include the TailwindCSS library -->{#  <script src="https://cdn.tailwindcss.com?plugins=forms"></script>#}
  <!-- tailwind inter font -->
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  <!-- htmx -->
  <script src="https://unpkg.com/htmx.org@1.7.0"></script>
</head>
<!-- base.html -->
{% block layout_content %}
{% endblock layout_content %}
</html>
