{% extends "layouts/application.html" %}
{% block content %}
  <!-- padding for large -->
  <div class="lg:pl-2 lg:pr-2">
    <!-- page content -->
    <section id="page_content">
      <!-- Modal container -->
      <div id="modal-container" x-data="{ modal: false }">
        <!-- notification popup -->
        <div id="notification"></div>
        <!--  page content card -->
        <div
          class="bg-white px-2 py-5 lg:rounded-lg lg:border lg:border-gray-200 dark:bg-black lg:dark:border-gray-700"
        >
          {% block page_content %}
          {% endblock page_content %}
        </div>
        <!-- modal -->
        <div id="modal"></div>
      </div>
    </section>
  </div>
{% endblock content %}
