{% extends "layouts/application.html" %}
{% block content %}
  <!-- padding for large -->
  <div class="lg:pl-2 lg:pr-2">
    <!-- page content -->
    <section id="page_content">
      <!-- Modal container -->
      <div id="modal-container" x-data="{ modal: false }">
        <!--  page content card -->
        <div class="lg:rounded-lg lg:border lg:border-gray-200 bg-white dark:bg-black lg:dark:border-gray-700 py-5 px-2">
          {% block page_content %}
          {% endblock page_content %}
        </div>
      </div>
    </section>
  </div>
{% endblock content %}
