{#def
  current_user
#}
<Admin page_title="Dashboard" :current_user="{{ current_user }}">
  <div class="py-6 pl-2 pr-2">
    <h1 class="pl-2 pt-2 text-lg font-semibold leading-6 text-gray-900 dark:text-gray-200">
      Dashboard
    </h1>
    <!-- row of stats -->
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
      <!-- Total Users -->
      <Loading hx_get="/dashboard/users/count" hx_trigger="load" />
      <!-- Active Users -->
      <Loading hx_get="/dashboard/users/active_count" hx_trigger="load" />
      <!-- Admin Users -->
      <Loading hx_get="/dashboard/users/admin_count" hx_trigger="load" />
    </dl>
  </div>
</Admin>
