{# def
className: str = ""
#}

<div
  x-show="isOpen"
  x-transition:enter="transition ease-out duration-300"
  x-transition:enter-start="opacity-0 max-h-0"
  x-transition:enter-end="opacity-100 max-h-xl"
  x-transition:leave="transition ease-in duration-300"
  x-transition:leave-start="opacity-100 max-h-xl"
  x-transition:leave-end="opacity-0 max-h-0"
  class="{{ className }} overflow-hidden text-sm"
  {{ attrs.render() }}
>
  <div class="pb-4 pt-0">{{ content }}</div>
</div>
