{# def
type: str = "single",
collapsible: bool = True,
className: str = ""
#}

<div
  x-data="{
      activeItem: undefined,
      toggleItem(value) {
        this.activeItem = this.activeItem === value ? undefined : value;
      }
    }"
  x-init="console.log('initial state:', activeItem);"
  class="{{ className }} w-full"
  data-accordion="{{ type }}"
  {{ 'data-collapsible="true"' if collapsible else "" }}
  {{ attrs.render() }}
>
  {{ content }}
</div>
