{# def
    className: str = ""
#}
<div
  class="{{ className }} rounded-lg border border-zinc-200 bg-white text-zinc-950 shadow-sm dark:border-zinc-800 dark:bg-zinc-950 dark:text-zinc-50"
  {{ attrs.render() }}
>
  {{ content }}
</div>
