{# def
    className: str = "",
#}
<!-- DialogOverlay -->
<div
  x-show="open"
  x-transition:enter="transition ease-out duration-300"
  x-transition:leave="transition ease-in duration-300"
  class="fixed inset-0 z-50 flex items-center justify-center bg-black opacity-70"
></div>
