<div
  @mouseenter="subOpen = true"
  @mouseleave="subOpen = false"
  class="flex cursor-pointer items-center justify-between px-4 py-2 text-sm hover:bg-gray-100 dark:hover:bg-zinc-800 dark:hover:text-zinc-50"
>
  {{ content }}
  <span class="ml-2"><ChevronRight className="h-4 w-4" /></span>
</div>
