{# def
    for_id: str,
    className: str = "",
    error: bool = False
#}

<label
  for="{{ for_id }}"
  class="{% if error %}text-red-500 dark:text-red-800{% endif %} {{ className }} block text-sm font-medium leading-6"
>
  {{ content }}
</label>
