{# def
    htmlFor: str = "",
    className: str = "",
    disabled: bool = False
#}
{% set baseclassName = "text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" %}

<label
  for="{{ htmlFor }}"
  class="{{ baseclassName }} {{ className }}"
  {% if disabled %}disabled{% endif %}
  {{ attrs.render() }}
>
  {{ content }}
</label>
