{# def
  id: str = "",
  className: str = ""
#}
<tr
  class="{{ className }} border-b border-zinc-200 transition-colors hover:bg-zinc-100/50 data-[state=selected]:bg-zinc-100 dark:border-zinc-700 dark:hover:bg-zinc-800/50 dark:data-[state=selected]:bg-zinc-800"
  {{ attrs.render() }}
>
  {{ content }}
</tr>
