{# def
  id: str = "",
  className: str = ""
#}
<div class="relative w-full overflow-visible">
  <table class="{{ className }} w-full caption-bottom text-sm" {{ attrs.render() }}>
    {{ content }}
  </table>
</div>
