{#def
  form,
  notification = None
#}
<!-- FORGOT PASSWORD FORM -->
<form.Form
    _class="space-y-6"
    hx_post="/forgot-password"
    hx_target="this"
    hx_target_422="this"
    hx_target_400="this"
    hx_swap="outerHTML"
    :notification="{{ notification }}"
    :csrf_token="{{ form.csrf_token() }}"
>
  <form.TextInput
      id="email"
      name="email"
      label="Email address"
      type="email"
      autocomplete="email"
      placeholder="your@email.com"
      required
      :value="{{ form.email.data|default('', true) }}"
      :errors="{{ form.email.errors }}"
  />
  <form.Submit id="continue-button" type="submit">Continue</form.Submit>
</form.Form>
