{#def
  form: RegisterForm,
  notification = None
#}
<WTForm
  :form="{{ form }}"
  hx_post="/register"
  hx_target="this"
  hx_target_422="this"
  hx_target_400="this"
  hx-target-error="#notification"
  hx_swap="outerHTML"
>
  <Button id="register-button" type="submit" className="w-full">Register</Button>
</WTForm>
{# notification sent via hx-swap-oob to the #notification css selector #}
{% if notification %}
  <Notification
    :error="{{ notification.error }}"
    :title="{{ notification.title }}"
    :message="{{ notification.message }}"
    :hx_swap_oob="{{ notification.hx_swap_oob }}"
  ></Notification>
{% endif %}
