{#def
  form,
  notification = None
#}
<!-- REGISTRATION FORM -->
<form.Form
  _class="space-y-6"
  hx_post="/register"
  hx_target="this"
  hx_target_422="this"
  hx_target_400="this"
  hx-target-error="#notification"
  hx_swap="outerHTML"
  :notification="{{ notification }}"
  :csrf_token="{{ form.csrf_token() }}"
>
  <form.TextInput
    id="full_name"
    name="full_name"
    label="Full Name"
    type="text"
    autocomplete=""
    placeholder="Full Name"
    required
    :value="{{ form.full_name.data|default('', true) }}"
    :errors="{{ form.full_name.errors }}"
  />
  <form.TextInput
    id="email"
    name="email"
    label="Email address"
    type="email"
    autocomplete="email"
    placeholder="your@email.com"
    required
    :value="{{ form.email.data|default('', true) }}"
    :errors="{{ form.email.errors }}"
  />
  <form.TextInput
    id="password"
    name="password"
    label="Password"
    type="password"
    autocomplete=""
    placeholder="••••••••"
    required
    :errors="{{ form.password.errors }}"
  />
  <form.TextInput
    id="password_2"
    name="password_2"
    label="Repeat Password"
    type="password"
    autocomplete=""
    placeholder="••••••••"
    required
    :errors="{{ form.password_2.errors }}"
  />
  <form.Submit id="register-button" type="submit">Register</form.Submit>
</form.Form>
<!-- /REGISTRATION FORM -->
