{#def
  form: ResetPasswordForm,
  error = False,
  success = False
#}
{% if error %}
  <div class="mb-4 rounded-lg bg-red-50 p-4 text-sm text-red-800" id="error" role="alert">
    {{ error }}
  </div>
  <p class="mt-10 text-center text-sm text-gray-500 dark:text-gray-400">
    Try
    <a href="/login" class="font-semibold leading-6 text-slate-600 hover:text-slate-500">
      Logging in
    </a>
    with another account
  </p>
{% elif success %}
  <div class="mb-4 rounded-lg bg-green-50 p-4 text-sm text-green-800" id="success" role="alert">
    {{ success }}
  </div>
  <p class="mt-10 text-center text-sm text-gray-500 dark:text-gray-400">
    You can now
    <a href="/login" class="font-semibold leading-6 text-slate-600 hover:text-slate-500">Log in</a>
  </p>
{% else %}

  <WTForm
    :form="{{ form }}"
    hx_post="/reset-password"
    hx_target="this"
    hx_target_422="this"
    hx_target_400="this"
    hx_swap="outerHTML"
  >
    <Button id="reset-button" type="submit" className="w-full">Reset</Button>
  </WTForm>

{% endif %}
