{#def
  form,
  error = False,
  success = False
#}
{% if error %}
  <div class="mb-4 rounded-lg bg-red-50 p-4 text-sm text-red-800" id="error" role="alert">
    {{ error }}
  </div>
  <p class="mt-10 text-center text-sm text-gray-500 dark:text-gray-400">
    Try
    <a href="/login" class="font-semibold leading-6 text-slate-600 hover:text-slate-500">
      Logging in
    </a>
    with another account
  </p>
{% elif success %}
  <div class="mb-4 rounded-lg bg-green-50 p-4 text-sm text-green-800" id="success" role="alert">
    {{ success }}
  </div>
  <p class="mt-10 text-center text-sm text-gray-500 dark:text-gray-400">
    You can now
    <a href="/login" class="font-semibold leading-6 text-slate-600 hover:text-slate-500">Log in</a>
  </p>
{% else %}
  <!-- PASSWORD RESET FORM -->
  <form.Form
    _class="space-y-6"
    hx_post="/reset-password"
    hx_target="this"
    hx_target_422="this"
    hx_target_400="this"
    hx_swap="outerHTML"
    :csrf_token="{{ form.csrf_token() }}"
  >
    <input id="token" name="token" type="hidden" value="{{ form.token.data }}" />
    <form.TextInput
      id="new_password"
      name="new_password"
      label="New Password"
      type="password"
      autocomplete=""
      placeholder="••••••••"
      required
      :value="{{ form.new_password.data|default('', true) }}"
      :errors="{{ form.new_password.errors }}"
    />
    <form.Submit id="reset-button" type="submit">Reset</form.Submit>
  </form.Form>

  <!-- /PASSWORD RESET FORM -->
{% endif %}
