<!-- header -->
<header class="col-span-12 flex items-center gap-2 lg:gap-4">
    <label for="my-drawer" class="btn btn-square btn-ghost drawer-button lg:hidden">
        <svg data-src="https://unpkg.com/heroicons/20/solid/bars-3.svg" class="h-5 w-5"></svg>
    </label>
    <div class="grow">
        <h1 class="lg:text-2xl lg:font-light">{{ params.nav|capitalize }}</h1>
    </div>
    <!-- theme toggle -->
    <div class="dropdown">
        <div tabindex="0" role="button" class="btn m-1">
            Theme
            <svg width="12px"
                    height="12px"
                    class="h-2 w-2 fill-current opacity-60 inline-block"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 2048 2048">
                <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
            </svg>
        </div>
        <ul tabindex="0" class="dropdown-content z-[1] p-2 shadow-2xl bg-base-300 rounded-box w-52">
            <li><input type="radio"
                    name="theme-dropdown"
                    class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                    aria-label="Default"
                    value="default"/></li>
            <li><input type="radio"
                    name="theme-dropdown"
                    class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                    aria-label="Retro"
                    value="retro"/></li>
            <li><input type="radio"
                    name="theme-dropdown"
                    class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                    aria-label="Cyberpunk"
                    value="cyberpunk"/></li>
            <li><input type="radio"
                    name="theme-dropdown"
                    class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                    aria-label="Valentine"
                    value="valentine"/></li>
            <li><input type="radio"
                    name="theme-dropdown"
                    class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                    aria-label="Aqua"
                    value="aqua"/></li>
        </ul>
    </div>
    <!-- dropdown -->
    <div class="dropdown-end dropdown z-10">
        <div tabindex="0" class="avatar btn btn-circle btn-ghost">
            <div class="w-10 rounded-full">
                <img src="https://picsum.photos/80/80?5"/>
            </div>
        </div>
        <ul tabindex="0" class="menu dropdown-content mt-3 w-52 rounded-box bg-base-100 p-2 shadow-2xl">
            <li>
                <a>Profile</a>
            </li>
            <li><a>Settings</a></li>
            <li><a>Logout</a></li>
        </ul>
    </div>
    <!-- /dropdown -->
</header><!-- /header -->
