<aside class="drawer-side z-10">
    <label for="my-drawer" class="drawer-overlay"></label>
    <!-- sidebar menu -->
    <nav class="flex min-h-screen w-72 flex-col gap-2 overflow-y-auto bg-base-100 px-6 py-10">
        <div class="mx-4 flex items-center gap-2 font-black">
            <svg width="32" height="32" viewBox="0 0 1024 1024" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="256" y="670.72" width="512" height="256" rx="128" class="fill-base-content"/>
                <circle cx="512" cy="353.28" r="256" class="fill-base-content"/>
                <circle cx="512" cy="353.28" r="261" stroke="black" stroke-opacity="0.2" stroke-width="10"/>
                <circle cx="512" cy="353.28" r="114.688" class="fill-base-100"/>
            </svg>
            Basic Machines
        </div>
        <ul class="menu">
            <li>
                <a href="/dashboard" class="{% if params.nav == 'dashboard' %}active{% endif %}">
                    <svg data-src="https://unpkg.com/heroicons/20/solid/home.svg" class="h-5 w-5"></svg>
                    Dashboard </a>
            </li>
            <li>
                <a href="/users" class="{% if params.nav == 'users' %}active{% endif %}">
                    <svg data-src="https://unpkg.com/heroicons/20/solid/user.svg" class="h-5 w-5"></svg>
                    Users</a>
            </li>
        </ul>
    </nav>
    <!-- /sidebar menu -->
</aside>
