{#def
    _class: str = "space-y-6",
    hx_post: str,
    hx_target: str = "this",
    hx_target_error: str = "#notification",
    hx_swap: str = "outerHTML",
    csrf_token,
    notification = None
#}
<form
    class="{{ _class }}"
    hx-post="{{ hx_post }}"
    hx-target="{{ hx_target }}"
    hx-target-error="{{ hx_target_error }}"
    hx-swap="{{ hx_swap }}"
>
  {{ csrf_token }}
  {{ content }}
</form>
{# notification sent via hx-swap-oob to the #notification css selector #}
{% if notification %}
  <Notification
      error={{ notification.error }}
          title={{ notification.title }}
      message={{ notification.message }}
          hx_swap_oob={{ notification.hx_swap_oob }}>
  </Notification>
{% endif %}
