{#def
  id: str,
  type: str,
  name: str,
  value: str = '',
  label: str,
  placeholder: str = '',
  autocomplete: Optional[str] = '',
  required: bool = False,
  errors: Optional[str] = ''
#}
<!-- {{ name }} -->
<div class="form-group">
  <label
      for="{{ id }}"
      class="block text-sm font-medium leading-6 text-gray-900 dark:text-gray-100"
  >
    {{ label }}
  </label>
  <div class="mt-2">
    <input
        id="{{ id }}"
        type="{{ type }}"
        name="{{ name }}"
        autocomplete="{{ autocomplete }}"
        placeholder="{{ placeholder }}"
        value="{{ value }}"
        {% if required %} required {% endif %}
        class="{{ 'border-red-600 dark:border-red-300 ring-red-600 dark:ring-red-300' if errors else 'ring-gray-300 dark:ring-gray-600' }} block w-full rounded-md border-0 bg-white py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-slate-600 sm:text-sm sm:leading-6 dark:bg-black dark:text-gray-100 dark:ring-gray-600 dark:placeholder:text-gray-500 dark:focus:ring-slate-300"
    />
    {% if errors %}
      <p class="mt-2 text-sm text-red-600">{{ errors[0] }}</p>
    {% endif %}
  </div>
</div>
