{#def
  current_user
#}
<nav
  class="border-b border-gray-200 bg-white dark:border-gray-700 dark:bg-black"
  x-data="{ mobileMenuOpen: false, currentPath: window.location.pathname }"
>
  <!-- nav container -->
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <!-- Left-aligned section for logo and menu links -->
      <div class="flex">
        <div class="flex flex-shrink-0 items-center">
          <Logo>BASIC FOUNDATION</Logo>
        </div>
        <navbar.MenuDesktop currentPath="currentPath" :current_user="{{ current_user }}" />
      </div>
      <!-- Right-aligned section for dark mode toggle and profile dropdown -->
      <div class="hidden sm:ml-6 sm:flex sm:items-center">
        <DarkModeToggle />
        <navbar.ProfileDropDown :current_user="{{ current_user }}" />
      </div>
      <navbar.MobileMenuButton mobileMenuOpen="mobileMenuOpen" />
    </div>
  </div>
  <navbar.MenuMobile
    mobileMenuOpen="mobileMenuOpen"
    currentPath="currentPath"
    :current_user="{{ current_user }}"
  />
</nav>
