{% from "macros.html" import modal %}
<tr class="px-4">
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
    <a href="/users/{{ user.id }}">{{ user.full_name }}</a>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ user.email }}</td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ user.is_active }}</td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ user.is_superuser }}</td>
  <td class="whitespace-nowrap py-4 pl-3 pr-4 sm:pr-0 text-right">
    {{ modal(
          title="Edit User",
          button_text="Edit",
          button_class="rounded-md bg-white px-2 py-1 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50",
          hx_get="/users/detail/{}/edit".format(user.id),
          hx_target="edit-{}".format(user.id)
       ) }}
  </td>
</tr>
