<!-- CSRF Token -->
{{ form.csrf_token() }}
<!-- Full Name -->
<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
  <label
    class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5 dark:text-gray-100"
    for="full_name"
  > Full Name </label>
  <div class="mt-2 sm:col-span-2 sm:mt-0">
    <input
      autocomplete="given-name"
      class="{{ 'border-red-600 dark:border-red-300 ring-red-600 dark:ring-red-300' if form.full_name.errors else 'ring-gray-300 dark:ring-gray-600' }} block w-full rounded-md bg-white py-1.5 text-gray-900 shadow-sm ring-1 ring-inset placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-slate-600 sm:max-w-xs sm:text-sm sm:leading-6 dark:bg-black dark:text-gray-100 dark:placeholder:text-gray-500 dark:focus:ring-slate-300"
      id="full_name"
      name="full_name"
      type="text"
      value="{{ form.full_name.data|default('', true) }}"
      required
    />
    {% if form.full_name.errors %}
      <p class="mt-2 text-sm text-red-600">{{ form.full_name.errors[0] }}</p>
    {% endif %}
  </div>
</div>
<!-- Email Address -->
<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
  <label
    class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5 dark:text-gray-100"
    for="email"
  > Email address </label>
  <div class="mt-2 sm:col-span-2 sm:mt-0">
    <input
      autocomplete="email"
      class="{{ 'border-red-600 dark:border-red-300 ring-red-600 dark:ring-red-300' if form.email.errors else 'ring-gray-300 dark:ring-gray-600' }} block w-full rounded-md bg-white py-1.5 text-gray-900 shadow-sm ring-1 ring-inset placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-slate-600 sm:max-w-xs sm:text-sm sm:leading-6 dark:bg-black dark:text-gray-100 dark:placeholder:text-gray-500 dark:focus:ring-slate-300"
      id="email"
      name="email"
      type="email"
      value="{{ form.email.data|default('', true) }}"
      required
    />
    {% if form.email.errors %}
      <p class="mt-2 text-sm text-red-600">{{ form.email.errors[0] }}</p>
    {% endif %}
  </div>
</div>
<!-- password -->
<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
  <label
    class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5 dark:text-gray-100"
    for="password"
  > Password </label>
  <div class="mt-2 sm:col-span-2 sm:mt-0">
    <input
      id="password"
      name="password"
      type="password"
      placeholder="********"
      value="{{ form.password.data|default('', true) }}"
      class="{{ 'border-red-600 dark:border-red-300 ring-red-600 dark:ring-red-300' if form.password.errors else 'ring-gray-300 dark:ring-gray-600' }} block w-full rounded-md bg-white py-1.5 text-gray-900 shadow-sm ring-1 ring-inset placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-slate-600 sm:max-w-xs sm:text-sm sm:leading-6 dark:bg-black dark:text-gray-100 dark:placeholder:text-gray-500 dark:focus:ring-slate-300"
    />
    {% if form.password.errors %}
      <p class="mt-2 text-sm text-red-600">{{ form.password.errors[0] }}</p>
    {% endif %}
  </div>
</div>
<!-- password2 -->
<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
  <label
    class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5 dark:text-gray-100"
    for="password_2"
  > Repeat Password </label>
  <div class="mt-2 sm:col-span-2 sm:mt-0">
    <input
      id="password_2"
      name="password_2"
      type="password"
      placeholder="********"
      value="{{ form.password_2.data|default('', true) }}"
      class="{{ 'border-red-600 dark:border-red-300 ring-red-600 dark:ring-red-300' if form.password_2.errors else 'ring-gray-300 dark:ring-gray-600' }} block w-full rounded-md bg-white py-1.5 text-gray-900 shadow-sm ring-1 ring-inset placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-slate-600 sm:max-w-xs sm:text-sm sm:leading-6 dark:bg-black dark:text-gray-100 dark:placeholder:text-gray-500 dark:focus:ring-slate-300"
    />
    {% if form.password_2.errors %}
      <p class="mt-2 text-sm text-red-600">{{ form.password_2.errors[0] }}</p>
    {% endif %}
  </div>
</div>
<!-- Status Checkboxes -->
<fieldset>
  <legend class="sr-only">Status</legend>
  <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:py-6">
    <div
      aria-hidden="true"
      class="text-sm font-semibold leading-6 text-gray-900 dark:text-gray-100"
    >
      Status
    </div>
    <div class="mt-4 sm:col-span-2 sm:mt-0">
      <div class="max-w-lg space-y-6">
        {% if form.is_active %}
          <div class="relative flex gap-x-3">
            <div class="flex h-6 items-center">
              <input
                class="h-4 w-4 rounded border-gray-300 text-slate-600 focus:ring-slate-600 dark:border-gray-600 dark:text-slate-400 dark:focus:ring-slate-300"
                id="is_active"
                name="is_active"
                type="checkbox"
                {% if form.is_active.data %}
                  checked
                {% endif %}
              />
            </div>
            <div class="text-sm leading-6">
              <label class="font-medium text-gray-900 dark:text-gray-100" for="is_active"> Active </label>
              <p class="mt-1 text-gray-600 dark:text-gray-400">active users can log in</p>
            </div>
          </div>
        {% endif %}
        <div class="relative flex gap-x-3">
          <div class="flex h-6 items-center">
            <input
              class="h-4 w-4 rounded border-gray-300 text-slate-600 focus:ring-slate-600 dark:border-gray-600 dark:text-slate-400 dark:focus:ring-slate-300"
              id="is_superuser"
              name="is_superuser"
              type="checkbox"
              {% if form.is_superuser.data %}
                checked
              {% endif %}
            />
          </div>
          <div class="text-sm leading-6">
            <label class="font-medium text-gray-900 dark:text-gray-100" for="is_superuser"> Admin </label>
            <p class="mt-1 text-gray-600 dark:text-gray-400">has admin privileges</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
