<div id="notification"></div>
<section id="user_edit">
  <div class="px-6">
    <form hx-put="/users/detail/{{ user.id }}"
      hx-target="#user_edit"
      hx-target-422="#user_edit"
      hx-target-400="#notification"
      hx-swap="outerHTML"
      method="put">
      {% include "partials/user/user_form.html" %}
      <!-- save/cancel buttons -->
      <div class="mt-6 flex items-center justify-end gap-x-2">
        <a href="/users/{{ user.id }}">
          <button class="text-sm font-semibold leading-6 text-gray-900 dark:text-gray-100" type="button">
            Cancel
          </button>
        </a>
        <button
          class="inline-flex justify-center rounded-md bg-black dark:bg-white px-3 py-2 text-sm font-semibold text-white dark:text-black shadow-sm hover:bg-slate-500 dark:hover:bg-slate-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-600 dark:focus-visible:outline-slate-300"
          type="submit"
        >
          Save
        </button>
        <button
          hx-delete="/users/{{ user.id }}"
          hx-headers='{"X-CSRFToken": "{{ form.csrf_token.current_token }}"}'
          type="button"
          hx-confirm="Are you sure you wish to delete this user?"
          class="rounded-md bg-white dark:bg-black px-3.5 py-2.5 text-sm font-semibold text-gray-900 dark:text-gray-100 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-gray-600 hover:bg-gray-50 dark:hover:bg-gray-950">
          Delete
        </button>
      </div>
    </form>
  </div>
  <!-- /edit form -->
</section>
