<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Basic Machines</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="/static/dist/css/output.css" rel="stylesheet"/>
    <!-- chart library -->
    <script async
            src="https://cdn.jsdelivr.net/npm/@weblogin/trendchart-elements@1.1.0/dist/index.js/+esm"
            type="module"></script>
    <!-- svg loader for icons -->
    <script async src="https://cdn.jsdelivr.net/npm/external-svg-loader@1.6.10/svg-loader.min.js"></script>
    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
</head>
{% block layout_content %}

{% endblock layout_content %}

</html>
