<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/dist/css/output.css" rel="stylesheet">
    {# use tailwind cdn #}
    {#    <script src="https://cdn.tailwindcss.com"></script>#}
</head>
<body>
{% block content %}
{% endblock content %}


<!-- Load from unpkg -->
<script src="https://unpkg.com/htmx.org@1.7.0"></script>
<script src="https://unpkg.com/flowbite@2.2.1/dist/flowbite.js"></script>
</body>
</html>
