{# prettier-ignore-start #}
<header class="sticky top-0 flex h-16 items-center gap-4 border-b bg-white px-4 md:px-6 dark:bg-zinc-950">
  <nav class="hidden flex-col gap-6 text-lg font-medium md:flex md:flex-row md:items-center md:gap-5 md:text-sm lg:gap-6">
    <Link
        href="#"
        className="flex items-center gap-2 text-lg font-semibold md:text-base"
    >
    <Package2 className="h-6 w-6" />
    <span class="sr-only">Acme Inc</span>
    </Link>
    <Link
        href="#"
        className="text-zinc-500 transition-colors hover:text-zinc-950 dark:text-zinc-400 dark:hover:text-zinc-50"
    >
    Dashboard
    </Link>
    <Link
        href="#"
        className="text-zinc-500 transition-colors hover:text-zinc-950 dark:text-zinc-400 dark:hover:text-zinc-50"
    >
    Orders
    </Link>
    <Link
        href="#"
        className="text-zinc-500 transition-colors hover:text-zinc-950 dark:text-zinc-400 dark:hover:text-zinc-50"
    >
    Products
    </Link>
    <Link
        href="#"
        className="text-zinc-500 transition-colors hover:text-zinc-950 dark:text-zinc-400 dark:hover:text-zinc-50"
    >
    Customers
    </Link>
    <Link
        href="#"
        className="text-zinc-950 transition-colors hover:text-zinc-950 dark:text-zinc-50 dark:hover:text-zinc-50"
    >
    Settings
    </Link>
  </nav>
  <Sheet>
    <SheetTrigger asChild>
      <Button
          variant="outline"
          size="icon"
          className="shrink-0 md:hidden"
      >
        <Menu className="h-5 w-5" />
        <span class="sr-only">Toggle navigation menu</span>
      </Button>
    </SheetTrigger>
    <SheetContent side="left">
      <nav class="grid gap-6 text-lg font-medium">
        <Link
            href="#"
            className="flex items-center gap-2 text-lg font-semibold"
        >
        <Package2 className="h-6 w-6" />
        <span class="sr-only">Acme Inc</span>
        </Link>
        <Link
            href="#"
            className="text-zinc-500 hover:text-zinc-950 dark:text-zinc-400 dark:hover:text-zinc-50"
        >
        Dashboard
        </Link>
        <Link
            href="#"
            className="text-zinc-500 hover:text-zinc-950 dark:text-zinc-400 dark:hover:text-zinc-50"
        >
        Orders
        </Link>
        <Link
            href="#"
            className="text-zinc-500 hover:text-zinc-950 dark:text-zinc-400 dark:hover:text-zinc-50"
        >
        Products
        </Link>
        <Link
            href="#"
            className="text-zinc-500 hover:text-zinc-950 dark:text-zinc-400 dark:hover:text-zinc-50"
        >
        Customers
        </Link>
        <Link href="#" class="hover:text-zinc-950 dark:hover:text-zinc-50">
        Settings
        </Link>
      </nav>
    </SheetContent>
  </Sheet>
  <div class="flex w-full items-center gap-4 md:ml-auto md:gap-2 lg:gap-4">
    <form class="ml-auto flex-1 sm:flex-initial">
      <div class="relative">
        <Search className="absolute left-2.5 top-2.5 h-4 w-4 text-zinc-500 dark:text-zinc-400" />
        <Input
            type="search"
            placeholder="Search products..."
            className="pl-8 sm:w-[300px] md:w-[200px] lg:w-[300px]"
        />
      </div>
    </form>
    <DropdownMenu>
      <DropdownMenuTrigger asChild>
        <Button variant="secondary" size="icon" className="rounded-full">
          <CircleUser className="h-5 w-5" />
          <span class="sr-only">Toggle user menu</span>
        </Button>
      </DropdownMenuTrigger>
      <DropdownMenuContent align="end">
        <DropdownMenuLabel>My Account</DropdownMenuLabel>
        <DropdownMenuSeparator />
        <DropdownMenuItem>Settings</DropdownMenuItem>
        <DropdownMenuItem>Support</DropdownMenuItem>
        <DropdownMenuSeparator />
        <DropdownMenuItem>Logout</DropdownMenuItem>
      </DropdownMenuContent>
    </DropdownMenu>
    <Button
        variant="ghost"
        size="icon"
        className="ml-2"
        @click="toggleMode(mode === 'dark' ? 'light' : 'dark')"
    >
      <Sun className="h-5 w-5 rotate-0 scale-100 transition-all dark:-rotate-90 dark:scale-0" />
      <Moon className="absolute h-5 w-5 rotate-90 scale-0 transition-all dark:rotate-0 dark:scale-100" />
      <span class="sr-only">Toggle theme</span>
    </Button>
  </div>
</header>
{# prettier-ignore-end #}
